/* .navbar{
    color: rgb(26, 25, 25);
    background-color: rgb(190, 219, 219);
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    height: 4rem;
}
body{
    margin: 0;
    padding: 0;
}
.right{
    display: flex;
    color: rgb(26, 25, 25);
    padding-left: 60%;
    gap: 30px;
}
a{
    color: rgb(26, 25, 25);
}
.left{
    padding-left: 3%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: #d8e0ef;
  color: #2c2c2c;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #c9d4e4;
}

.navbar nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}


.hero {
  display: flex;
  min-height: 90vh;
}

.hero-left {
  width: 55%;
  padding: 80px 60px;
}

.hero-left h1 {
  font-size: 64px;
  margin-bottom: 40px;
  color: #2f3a2b;
}

.image-row {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.image-row img {
  width: 240px;
  height: 300px;
  object-fit: cover;
}

.hero-text {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn {
  background: #2f3a2b;
  color: white;
  border: none;
  padding: 14px 36px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}


.hero-right {
  width: 45%;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.about {
  padding: 100px 20%;
  text-align: center;
  background: #d8e0ef;
}

.about h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.about h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.about p {
  font-size: 18px;
  line-height: 1.7;
  max-width: 900px;
  margin: auto;
}
