.navbar{
    color: rgb(26, 25, 25);
    background-color: rgb(190, 219, 219);
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    height: 4rem;
}
body{
    margin: 0;
    padding: 0;
}
.right{
    display: flex;
    color: rgb(26, 25, 25);
    padding-left: 60%;
    gap: 30px;
}
a{
    color: rgb(26, 25, 25);
}
.left{
    padding-left: 3%;
}